
    <div class="background-image">
        <div class="justify-content-center2 mt-0">

            <div class="position-absolute top-50 start-50 translate-middle">
            
            <p><mat-form-field appearance="fill">
                <mat-label>Identifikationsnummer</mat-label>
                <input name="userID" matInput [(ngModel)]="userID">
            </mat-form-field></p>
            
            <p><mat-form-field appearance="fill">
                <mat-label>Passwort</mat-label>
                <input name="userPassword" matInput [(ngModel)]="userPassword" type="password">
            </mat-form-field></p>
            
            <p style="position: absolute; right: 65px;"> <button mat-raised-button color="primary" (click)="Submit()">Anmelden</button>

            </div>
        </div>
    </div>









  



