<div class="background-image">
    <div class="justify-content-center2 mt-0">

        <div class="position-absolute top-50 start-50 translate-middle">
        
        <p><mat-form-field appearance="fill">
            <mat-label>Euro</mat-label>
            <input name="amount" matInput [(ngModel)]="amount">

        </mat-form-field></p>
        
        <p style="position: absolute; right: 65px;"> <button mat-raised-button color="primary" (click)="payIn()">Aufladen</button>

            
            
            
              




        </div>
    </div>
</div>
<p style="position: absolute; bottom: 0;"> <button mat-raised-button color="primary" (click)="back()">Zurück</button>

<p style="position: absolute; top: 0; right: 0;"><mat-card><mat-card-content>Simple card</mat-card-content></mat-card>
