<p>getraenkemenue works!</p>

<cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
    <div *cdkVirtualFor="let item of items" class="example-item">{{item}}</div>
  </cdk-virtual-scroll-viewport>
  
  <div class="grid-container">

        <button><img  src="https://th.bing.com/th/id/OIG.iaHjUo6anz.m3Pr1uKxU?w=1024&h=1024&rs=1&pid=ImgDetMain" alt="Name" width="274" height="200"></button>
        <button><img  src="https://th.bing.com/th/id/OIG.1ZLWgwVGR4HW3vaaJClM?w=1024&h=1024&rs=1&pid=ImgDetMain" alt="Name" width="274" height="200"></button>
        <button><img  src="https://th.bing.com/th/id/OIG..7qAImBsMtJWDg5R0lbU?pid=ImgGn" alt="Name" width="274" height="200"></button>
        <button><img  src="https://cdn.knuspr.de/images/stories/spezi-1625775792075.jpg" alt="Name" width="274" height="200"></button>
        <button><img  src="https://th.bing.com/th/id/OIG.yUMAAlsohEnuWSBl2Wtp?pid=ImgGn" alt="Name" width="274" height="200"></button>
        <button><img  src="https://th.bing.com/th/id/OIG.8uu7WSVM_yDyDYbjSPyu?pid=ImgGn" alt="Name" width="274" height="200"></button>
        <button><img  src="https://th.bing.com/th/id/OIG.o0gtfNpAbcLpFPpQaDna?w=1024&h=1024&rs=1&pid=ImgDetMain" alt="Name" width="274" height="200"></button>
        <button><img  src="https://th.bing.com/th/id/OIG.Y2oY9z2N1K_EQWuY.Yd8?w=1024&h=1024&rs=1&pid=ImgDetMain" alt="Name" width="274" height="200"></button>
        <button><img  src="https://th.bing.com/th/id/OIG.y3X6Vji7lNPr94Gj0JK6?w=1024&h=1024&rs=1&pid=ImgDetMain" alt="Name" width="274" height="200"></button>
        <button><img  src="https://th.bing.com/th/id/OIG.hLtSa4JuL5XwBsG57zdH?w=1024&h=1024&rs=1&pid=ImgDetMain" alt="Name" width="274" height="200"></button>
        <button><img  src="https://th.bing.com/th/id/OIG.XjBNbAVwA0fQK4kHJmJV?pid=ImgGn" alt="Name" width="274" height="200"></button>
        <button><img  src="https://th.bing.com/th/id/OIG.A.POgg1woWesf6YBokb8?pid=ImgGn" alt="Name" width="274" height="200"></button>
        <button><img  src="https://th.bing.com/th/id/OIG.m_6cywrliNxfRInB6HSs?w=1024&h=1024&rs=1&pid=ImgDetMain" alt="Name" width="274" height="200"></button>
        <button><img  src="https://th.bing.com/th/id/OIG.w5qYeKuzNFHwyg.2g9pl?pid=ImgGn" alt="Name" width="274" height="200"></button>
        <button><img  src="https://th.bing.com/th/id/OIG.NwSV9QoVQGIEsdjcyspq?w=1024&h=1024&rs=1&pid=ImgDetMain" alt="Name" width="274" height="200"></button>
        <button><img  src="https://th.bing.com/th/id/OIG.ROINckmX3HTGnAFNN0pK?pid=ImgGn" alt="Name" width="274" height="200"></button>
        <button><img  src="https://th.bing.com/th/id/OIG.dpK_ZToqiyvWViXLwUXe?w=1024&h=1024&rs=1&pid=ImgDetMain" alt="Name" width="274" height="200"></button>
        <button><img  src="https://th.bing.com/th/id/OIG.AmXASaL4_jb9e7gB1S7G?pid=ImgGn" alt="Name" width="274" height="200"></button>
        <button><img  src="https://th.bing.com/th/id/OIG.0Q.1QlbR2EEFJFWPQgMt?w=1024&h=1024&rs=1&pid=ImgDetMain" alt="Name" width="274" height="200"></button>
        <button><img  src="https://th.bing.com/th/id/OIG.zwIhDnULVBkwHKfptvLE?w=1024&h=1024&rs=1&pid=ImgDetMain" alt="Name" width="274" height="200"></button>

  
    </div>
